non-code



GRASP

familyprediction/Nuclear_Receptor_Notebooks/__pycache__
familyprediction/Nuclear_Receptor_Notebooks/.ipynb_checkpoints
familyprediction/Nuclear_Receptor_Notebooks/*.csv
familyprediction/Nuclear_Receptor_Notebooks/*.tsv
familyprediction/Nuclear_Receptor_Notebooks/NR_MSA*
familyprediction/Nuclear_Receptor_Notebooks/NR1*
familyprediction/Nuclear_Receptor_Notebooks/NR4*

familyprediction/NR_MSA*
familyprediction/blasttestresults.txt

data
data/subsettest
data/smalltest
data/realignment
data/duplicatesremoved
data/blasttest



snakemake_pipeline/*.fasta
**/.DS_Store

.DS_Store

**/.snakemake/*
.idea/*
**/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
 __pycache__/
*.py[cod]
*$py.class


*.error
*.out

**/.csv

snakemake_pipeline/notebooks
snakemake_pipeline/workflows
snakemake_pipeline/data/ancestor_embedding_df.csv

snakemake_pipeline/BLAST/NRs_IPR_NCBI.fasta
snakemake_pipeline/BLAST/identical_protein_group_NRs.fasta