ProjectPlan

Assessments

GRASP

familyprediction/Nuclear_Receptor_Notebooks/__pycache__
familyprediction/Nuclear_Receptor_Notebooks/.ipynb_checkpoints
familyprediction/Nuclear_Receptor_Notebooks/*.csv
familyprediction/Nuclear_Receptor_Notebooks/*.tsv
familyprediction/Nuclear_Receptor_Notebooks/NR_MSA*
familyprediction/Nuclear_Receptor_Notebooks/NR1*
familyprediction/Nuclear_Receptor_Notebooks/NR4*

familyprediction/NR_MSA*
familyprediction/blasttestresults.txt

data
data/subsettest
data/smalltest
data/realignment
data/duplicatesremoved
data/blasttest

GWyldbore*
S4323577*

snakemake_pipeline/*.fasta